body, html{
  height:100%;
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/85973093971652221/892D13111A728FB3BEF42098CE8ECBBD7D67A941/');
  background-size: 100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpDancers, .orbitalDance{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border-width: 10px;
  border-style: solid;
  border-color: red;
  border-radius:10px;
  position:absolute;
}
.bouncey{
  border:20px solid blue;
  border-radius: 0px;
}
.shakey{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: green;
}